<mat-toolbar>
  <div class="outline-search">
    <form (submit)="onSearch()">
      <input
        type="text"
        [(ngModel)]="query"
        name="search"
        placeholder="Search some song"
        class="search-input"
        autocomplete="off"
      />
      <button type="submit" class="search-btn">
        <mat-icon class="material-symbols-rounded">search</mat-icon>
      </button>
      <button
        type="button"
        class="clear-btn"
        *ngIf="query"
        (click)="query=''"
        aria-label="Clear"
      >
        <mat-icon class="material-symbols-rounded">close</mat-icon>
        
      </button>
    </form>
  </div>
  <span class="example-spacer"></span>
  <button mat-icon-button class="user-none-login" aria-label="Example icon-button with share icon">
    <mat-icon class="material-symbols-rounded">person</mat-icon>
  </button>
</mat-toolbar>