<div class="profile-container mat-elevation-z2">
  <!-- Thông tin user -->
  <div class="profile-card">
    <img [src]="user.avatar" alt="User avatar" class="avatar" />
    <div class="profile-meta">
      <h2 class="name">{{ user.name }}</h2>
      <p class="handle">{{ user.username }}</p>
      <p class="location">{{ user.location }}</p>
    </div>
    <button class="follow-btn">Theo dõi</button>
  </div>

  <!-- Danh sách bài hát -->
  <div class="songs-section">
    <div class="songs-header">
      <span></span> <!-- chừa chỗ cho cover -->
      <span>#</span>
      <span>Name</span>
      <span>Added date</span>
      <span>Duration</span>
      <span></span> <!-- chừa chỗ cho actions -->
    </div>
    <mat-divider></mat-divider>
    <div class="songs-list">
      @for (song of songs; track $index) {
        <app-song-card  [song]="song"></app-song-card>
      }
  </div>
</div>
</div>
